:root {
  --light-yellow: #fef9d9;
  --light-green: #dee5d4;
  --blue: #8eaccd;
  --red: #c96868;
  --yellow: #fccd2a;
  --rounded: 0.5rem;
  --rounded-md: 1rem;
  --rounded-full: 100%;
  --fs-header: 1.5rem;
  --fs-sub-header: 1.2rem;
  --fs-content: 1rem;
  --fs-small: 0.8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: var(--fs-content);
  color: black;
  font-family: "Roboto Mono", monospace;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
}

:target {
  scroll-margin-block: 5ex;
}

main {
  margin-inline: 4rem;
  padding-block: 2.5rem;
}

.input-global,
.select-global,
.book-form-container input,
.book-form-container > div > input,
.book-form-container > div > select,
.book-form-container > div > textarea {
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--blue);
  border-radius: var(--rounded);
}

.input-height-global,
.book-form-container > div > input {
  height: 2.5rem;
}

.require-field,
.warning {
  color: var(--red);
}

.date {
  font-size: var(--fs-small);
  font-style: italic;
}

.button-group a {
  text-align: center;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: var(--rounded);
  padding: 0.5rem 0.8rem;
  color: white;
}

.button-group input,
.rating-item {
  cursor: pointer;
}

.rating-fill {
  fill: var(--yellow);
  /* border-color: var(--light-yellow); */
}

.rating-none {
  fill: none;
}

.hidden {
  display: none;
}

/* -------------nav, sidebar------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--light-yellow);
  padding-inline: 2rem;
  color: var(--blue);
}

nav > a {
  font-size: var(--fs-header);
}

nav button {
  color: var(--blue);
  padding: 1.5rem;
}

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 30%;
  height: 100%;
  background-color: var(--light-green);
  transition: all 1s ease;
  transform: translateX(100%);
}

.sidebar-container > div {
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
}

.sidebar-container > div > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.sidebar-container > div > ul > li {
  background-color: var(--light-yellow);
  padding: 1rem 1rem;
  border-radius: var(--rounded);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-container.show {
  transform: translateX(0);
}

/* --------------------------------- */

/* -------------search------------- */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-container > div > form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-container form label {
  display: none;
}

.create-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle-btn {
  width: 40px;
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  border-radius: var(--rounded-full);
}

.circle-btn {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  border-radius: var(--rounded-full);
  width: 40px;
  height: auto;
  cursor: pointer;
}
/* --------------------------------- */

/* -------------tags------------- */
.tags-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tags-container li {
  width: max-content;
  border: 1px solid var(--light-green);
  border-radius: var(--rounded);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.tags-container li:hover {
  background-color: var(--light-yellow);
}
/* --------------------------------- */

/* -------------book list------------- */
.book-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.book-list-container .no-items {
  text-align: center;
}

.book-list-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.book-list-row:hover {
  transform: translateY(10px);
}

.book-list-row:hover ~ .book-list-row {
  transform: translateY(20px);
}

.book-list-row .book-list-item {
  background-color: white;
  border: 1px solid var(--blue);
  border-radius: var(--rounded);
  padding: 0.8rem 1rem;
  transition: transform 0.3s ease;
}

.book-list-row .book-list-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-list-row .book-list-item:hover {
  scale: 1.08;
  box-shadow: 2px 1px var(--blue);
  transform: translateX(10px);
}

.book-list-row .book-list-item:hover ~ .book-list-item {
  transform: translateX(20px);
}

.book-list-row .book-list-item *:not(:last-child) {
  margin-bottom: 0.7rem;
}

.book-list-row .book-list-item h2 {
  font-size: var(--fs-sub-header);
}

.book-list-row .book-list-item > a > div {
  display: flex;
  justify-content: center;
}

.book-list-row .book-list-item img {
  max-width: 10rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.book-list-rating {
  display: flex !important;
  gap: 0.5rem;
  margin-top: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  margin-top: 2rem;
}

.pagination .navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.pagination .navigation button {
  aspect-ratio: 1/1;
  width: 40px;
  height: auto;
  background-color: var(--light-yellow);
  border: 1px solid var(--light-yellow);
  border-radius: var(--rounded-full);
  display: grid;
  place-items: center;
}
/* --------------------------------- */

/* ------------------------------------- */
/* -------------create book------------- */
.book-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2.5rem;
  margin-top: 2rem;
}

.book-form-container div {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  gap: 1rem;
}

.book-form-container .details {
  grid-column-start: 1;
  grid-column-end: 3;
}

.book-form-container .cover-image input {
  cursor: pointer;
}

.book-form-container .cover-image input::-webkit-file-upload-button {
  display: none;
}

.book-form-container .cover-image p {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: var(--fs-small);
}

.book-form-container .button-group {
  grid-column-start: 2;
  grid-template-columns: 1fr 1fr;
}

/* --------------------------------- */

/* -------------modal------------- */

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 4px solid var(--light-green);
  background-color: white;
  width: 25rem;
  height: 15rem;
  border-radius: var(--rounded);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* --------------------------------- */

/* --------------------------------- */
/* -------------book detail and review------------- */
.book-detail-container {
  display: flex;
  gap: 2rem;
}

.book-detail-container > div {
  max-width: 18rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: fill;
}

.book-detail-container ul {
  width: 100%;
}

.book-detail-container ul li {
  display: grid;
  grid-template-columns: 8rem 1fr;
}

.review-container {
  margin-top: 2rem;
}

.review-container > ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-container .no-items {
  text-align: center;
}

.review-container > ul > .review-item {
  border: 1px solid var(--blue);
  border-radius: var(--rounded);
  padding: 1rem;
}

.review-container .user-detail {
  margin-bottom: 1rem;
}

.review-container .user-detail > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-container .user-detail .img-container {
  width: 4rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  border: 1px solid var(--blue);
  background-color: var(--light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-header);
}

.review-container .user-detail .img-container > p {
  height: fit-content;
  margin: 0;
}

.review-container .user-detail .rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-container .form-container {
  display: flex;
  justify-content: center;
}

.form-container .review-form {
  max-width: 50rem;
  width: 100%;
}

.form-container .review-form .rating {
  margin-top: 2rem;
  display: flex;
}

.form-container .review-form .rating > p {
  margin-right: auto;
}

.form-container .review-form .rating-item {
  cursor: pointer;
}

.form-container .review-form .rating-item label svg {
  fill: white;
}

.form-container
  .review-form
  .rating-item
  input[type="radio"]:checked
  + label
  svg {
  fill: var(--yellow);
}

.form-container .review-form .rating-item .selected {
  fill: var(--yellow);
}

.form-container .review-form .message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.form-container .review-form .button-group {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}

/* --------------------------------- */
